<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Yehya's Kitchen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngFor="let u of userInfo">
                    <span class="nav-link text-white mx-2">{{u.point}} <i class="bi bi-p-circle"></i></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="checkout"><i class="bi bi-cart me-1"></i>Checkout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="nav-item pointer" *ngIf="!loggedIn; else loggedOut">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
                <ng-template #loggedOut>
                    <li class="nav-item pointer">
                        <a class="nav-link" (click)="logout()">logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="editAccount">Edit Account</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>