<div class="container-fluid footer mt-5 bg-black">
    <div class="row mt-3">
        <div class="col-lg-5">
            <h1>Yehya's Kitchen</h1>
            <p>GOOD FOOD, GOOD MOOD</p>
        </div>
        <div class="col-lg-5">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
        </div>
        <div class="col-lg-2 mb-2 mt-lg-0 mt-2">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>