<section>
    <div class="d-flex justify-content-center align-items-center">
        <div class="card1 bg-blur">
            <span class="title">Add an Item</span>
            <form [formGroup]="myForm" (submit)="submitForm()" class="form">
                <div class="group">
                    <input id="name" formControlName="name" type="text" name="name">
                    <label for="name">Name</label>
                </div>
                <div class="group mb-4">
                    <select id="cat" class="form-select">
                        <option value="0">Select a Category</option>
                        <option id="cat" *ngFor="let category of categories" [value]="category.id">
                            {{category.name}}
                        </option>
                    </select>
                </div>
                <div class="group">
                    <input id="price" formControlName="price" type="number" [min]="0" id="price" name="price">
                    <label for="price">Price</label>
                </div>
                <div class="group">
                    <textarea id="description" id="description" name="description" rows="5"></textarea>
                    <label for="description">description</label>
                </div>
                <div class="group">
                    <input type="file" class="custom-file-input" id="image">
                    <label for="image">Upload Image</label>
                </div>
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
</section>