<div class="container-fluid my-3">
    <h1>Welcome to Yehya's Kitchen</h1>
    <div class="my-3 mx-5">
        <h4>
            For more than ten years, our family-run restaurant has been providing our neighborhood with delectable fare.
            Pizzas, sandwiches, burgers, and a wide range of other meals are available on our menu. Our talented chefs
            take great delight in creating each and every meal with care and attention to detail using only the freshest
            ingredients.
        </h4>
        <div class="row mb-5">
            <div class="col-4">
                <img class="img-thumbnail" src="assets/Images/about1.jpg">
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="assets/Images/about2.jpg">
            </div>
            <div class="col-4">
                <img class="img-thumbnail" src="assets/Images/about3.jpg">
            </div>
        </div>
        <p>
            <span class="text-success fw-bold">Yehya's Kitchen</span> offers a vast selection of
            delicacies that are sure to suit any pallet. The
            <span class="fst-italic">Veggie Supreme Pizza</span>, which is stuffed with a variety of fresh veggies and
            topped with a ton of cheese, is
            one
            of the restaurant's most well-liked dishes. Both vegans and non-vegetarians will enjoy this pizza because it
            is
            a delectable and nutritious option.
            <br>
            The <span class="fst-italic">Grilled Sandwich</span> at Yehya's Kitchen, which is cooked with your choice of
            bread and packed with a variety
            of meats, vegetables, and cheeses, is another customer favorite. For lunch or dinner, this sandwich is a
            wonderful and filling option. It's a fantastic alternative for anyone who want food that is flavorful but
            quick and easy to prepare.
            <br>
            The <span class="fst-italic">Double Cheeseburger</span> should definitely be tried by anyone who prefers
            something a little more extreme. This
            burger has two meaty patties on top, along with various toppings and melting cheese. It's a traditional
            burger that will satiate any appetite. The <span class="fst-italic">Paneer Burger</span>, which has a
            grilled paneer patty, spicy sauce, and
            a selection of vegetables, is a favorite among vegetarian customers. For those who wish to enjoy all of the
            tastes of a classic burger with a vegetarian twist, this burger is a delectable and filling choice. Yehya's
            Kitchen has something for everyone, whatever their mood may be.
            <br>
            No matter what you're in the mood for, Yehya's Kitchen has something for everyone. We hope you'll come visit
            us and taste the difference for yourself!
        </p>
        <h3 class="my-3">
            We at Yehya's Kitchen think that going out to eat should be fun for everyone. We do this by providing a warm
            environment, helpful service, and reasonable costs. We hope you'll join us at Yehya's Kitchen to experience
            the difference for yourself, whether you're popping by for a quick lunch or a leisurely meal.
        </h3>
        <h2 class="mt-5 fst-italic text-success text-center">Thank you for choosing Yehya's Kitchen. We look forward to
            serving you!
        </h2>
    </div>
</div>