<div class="d-flex justify-content-center">
    <div class="col-lg-10 scroll">
        <h2 class="text-center text-success fw-bold fst-italic mt-3" style="font-family:cursive">Current Top Users</h2>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">User</th>
                    <th class="text-center">Points</th>
                    <th class="text-center">Phone Number</th>
                    <th class="text-center">Orders</th>
                    <th class="text-center">Total Spent</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users; let i = index">
                    <td class="text-center">{{u.userId}}</td>
                    <td class="text-center">{{u.name}}</td>
                    <td class="text-center">{{u.point}}</td>
                    <td class="text-center"> {{u.phonenumber}}</td>
                    <td class="text-center">{{u.orderCount}}</td>
                    <td class="text-center"> {{u.totalPaid}}</td>
                    <td>
                        <div class="row justify-content-around align-items-center">
                            <button class="col-md-5 col-7 btn btn-primary mb-2" data-bs-toggle="modal"
                                data-bs-target="#rewardModal" (click)="openModal(i)">Reward Points</button>
                            <button class="col-md-5 col-6 btn btn-danger mb-2" data-bs-toggle="modal"
                                data-bs-target="#deductModal" (click)="openModal(i)">Deduct
                                Points</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="btn btn-danger btn-large" (click)="resetOrders()">Reset Orders</button>
    </div>
    <div class="modal fade" id="rewardModal" tabindex="-1" aria-labelledby="rewardModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rewardModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="pointAdd">Points</label>
                        <input id="pointAdd" class="form-control" type="number" [min]="0" id="pointAdd" name="pointAdd">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="reward()">Reward</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deductModal" tabindex="-1" aria-labelledby="deductModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deductModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="pointDeduct">Points</label>
                        <input id="pointDeduct" class="form-control" type="number" [min]="0" id="pointDeduct"
                            name="pointDeduct">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deduct()">Deduct</button>
                </div>
            </div>
        </div>
    </div>
</div>