<div class="container my-5">
    <div class="row" *ngFor="let food of foodData">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top c-image" src="assets/Images/{{food.img}}" width="100%" />
                <div class="container text-center card-body">
                    <h1 class="mt-3 card-title">{{food.name}}</h1>
                    <strong>{{food.price}}$</strong>
                    <p class="card-text">{{food.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 media" *ngIf="!userReview; else updateReview">
            <div class="container d-flex flex-column justify-content-center mb-3">
                <h2 class="text-success fw-bold fst-italic " style="font-family:cursive">Rate the food:</h2>
                <div class="rate pb-2 text-white">
                    <div class="rating">
                        <input type="radio" name="rating" value=5 id="5">
                        <label for="5">☆</label>
                        <input type="radio" name="rating" value=4 id="4">
                        <label for="4">☆</label>
                        <input type="radio" name="rating" value=3 id="3">
                        <label for="3">☆</label>
                        <input type="radio" name="rating" value=2 id="2">
                        <label for="2">☆</label>
                        <input type="radio" name="rating" value=1 id="1">
                        <label for="1">☆</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container d-flex flex-column justify-content-center">
                <h2 class="text-success fw-bold fst-italic " style="font-family:cursive">What do you think about this
                    Item:</h2>
                <div class="d-flex flex-start w-100">
                    <div class="form-outline w-100">
                        <textarea class="form-control" id="myTextarea" rows="4"
                            placeholder="Enter your comment"></textarea>
                    </div>
                </div>
                <button class="btn btn-warning btn-block rating-submit mt-3" (click)="submit()">Submit</button>
            </div>
        </div>
        <ng-template #updateReview>
            <div class="col-md-6 col-12 media" *ngFor="let r of userReview">
                <div class="container d-flex flex-column justify-content-center mb-3">
                    <h2 class="text-success fw-bold fst-italic " style="font-family:cursive">Edit your rating:</h2>
                    <div class="rate pb-2 text-white">
                        <div class="rating">
                            <input type="radio" name="rating" value=5 id="5" [checked]="r.rating === '5'">
                            <label for="5">☆</label>
                            <input type="radio" name="rating" value=4 id="4" [checked]="r.rating === '4'">
                            <label for="4">☆</label>
                            <input type="radio" name="rating" value=3 id="3" [checked]="r.rating === '3'">
                            <label for="3">☆</label>
                            <input type="radio" name="rating" value=2 id="2" [checked]="r.rating === '2'">
                            <label for="2">☆</label>
                            <input type="radio" name="rating" value=1 id="1" [checked]="r.rating === '1'">
                            <label for="1">☆</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container d-flex flex-column justify-content-center">
                    <h2 class="text-success fw-bold fst-italic " style="font-family:cursive">What do you think about
                        this Item:</h2>
                    <div class="d-flex flex-start w-100">
                        <div class="form-outline w-100">
                            <textarea class="form-control" id="edit" rows="4" [(ngModel)]="r.review"
                                placeholder="Enter your comment"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-warning btn-block rating-submit mt-3" (click)="editReview()">Edit Your
                        Review</button>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="text-center mt-3">
        <a routerLink="../../menu" class="btn btn-sm btn-dark px-5">Back</a>
    </div>
</div>