<div class="container-fluid my-3">
    <div class="py-2">
        <h1 class="text-center text-success">About Our Point System</h1>
    </div>
    <p class="my-3 mx-5">
        The point system is a unique and innovative way to make online shopping more accessible and affordable for
        users. Instead of using traditional payment methods, users can now use points to purchase item on
        the website.
        <br><br>
        This system allows users to earn points through various activities such as signing up, making purchases,
        referring friends, and completing other incentivized actions. These points can then be redeemed towards items or
        discounts on the website, making it an excellent way to save money while still being able to enjoy your favorite
        foods.
        <br><br>
        Overall, the point system is a must have for everyone. It provides an innovative payment solution
        that makes online shopping more accessible and affordable, and it requires nothing more than a simple press of a
        button.
    </p>
    <br>
    <h5 class="m-3 text-center">So, What are you waiting for <a routerLink="../signup">Signup Now</a> and get
        <strong class="text-success">50 free points</strong>
    </h5>
</div>